# Compiled objects/libraries
*.a
*.o
*.so

# Executables
neo
unittests

# Intermediate build files
build/

# Coverage files
*.gcov
*.gcda
*.gcno

# Python cache files
__pycache__

# Development environment files
*.code-workspace
.vscode/
.cache/
.venv/

# Trashed files
.Trash*/

# Packages
*.tar.*
*.deb
