[submodule "spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
[submodule "catch2"]
	path = third_party/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "tomlplusplus"]
	path = third_party/tomlplusplus
	url = git@github.com:marzer/tomlplusplus.git
[submodule "xxhash"]
	path = third_party/xxhash
	url = git@github.com:Cyan4973/xxHash.git
[submodule "curlpp"]
	path = third_party/curlpp
	url = https://github.com/jpbarrette/curlpp.git
