[submodule "bpftool"]
	path = third_party/bpftool/bpftool
	url = https://github.com/libbpf/bpftool.git
	ignore = dirty
[submodule "libbpf"]
	path = third_party/libbpf/libbpf
	url = https://github.com/libbpf/libbpf.git
	ignore = dirty
[submodule "vcpkg"]
	path = depends/vcpkg
	url = https://github.com/microsoft/vcpkg.git
	ignore = dirty
[submodule "libnet"]
	path = third_party/libnet/libnet
	url = https://github.com/libnet/libnet.git
