# Compiled objects/libraries
*.a
*.o
*.so

# Executables
neo
test-neo

# ctags
tags

# Intermediate build files
build/
Makefile
autom4te.cache/
codecov.sh
config.log
config.status
configure
pan.[bchmpt]
model.[ch]

# Coverage files
*.gcov
*.gcda
*.gcno

# Python cache files
__pycache__
