[submodule "spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
	ignore = dirty
[submodule "catch2"]
	path = third_party/catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "tomlplusplus"]
	path = third_party/tomlplusplus
	url = git@github.com:marzer/tomlplusplus.git
